.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;

  display: grid;
  place-items: center;
  padding: 16px;
}

.modalContent {
  position: relative;
  background: white;
  padding: 24px;
  border-radius: 12px;
  width: 100%;
  max-width: 888px;
  max-height: 100dvh;
  overflow-y: auto;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.modalTitle {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 20px;
  text-align: center;
}

.detailRow {
  margin-bottom: 12px;
  display: flex;
  gap: 12px;
}

.label {
  font-weight: 600;
  color: #303;
  min-width: 100px;
}

.value {
  color: #909;
  word-break: break-word;
  flex: 1;
}

.urlBox {
  width: 100%;
  resize: vertical;
  max-height: 200px;
  overflow: auto;
  font-family: monospace;
  margin-top: 4px;
  color: #909;
}

.buttonRow {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 20px;
  padding-top: 10px;
}

.closeButton {
  position: absolute;
  top: 15px;
  right: 21px;
  background: transparent;
  border: none;
  font-size: 34px;
  cursor: pointer;
  color: #909;
  transition: color 0.2s;
}

.closeButton:hover {
  color: #000;
}
